body {
  background: #eee;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 6.20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 150px;
  padding: 16px;
  color: white;
  padding-left: 32px;
}

.App-title {
  font-size: 1.5em;
  color: #999;
}

.App-intro {
  font-size: large;
}

#loginForm {
  position: absolute;
  width: 256px;
  left: calc(50% - 128px);
  font-size: 14pt;
}

#container {
  position: absolute;
  left: 0%;
  width: 100%;
  top: 150px;
  height: 70%;
  background: #eee;
}
